body
{
    margin: 0;
}

#tabellone {
                display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
            }

            #blocco-centrale {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0;
            }

            #sinistra, #destra
            {
                z-index: 100;
            }

            table {
                border-collapse: collapse;
                flex-shrink: 0;
            }

            #casa-blu {
                background-color: blue;
            }

            #casa-rosso {
                background-color: red;
            }

            #casa-verde {
                background-color: green;
            }

            #casa-giallo {
                background-color: yellow;
            }

            #cammino ,#bianca{
                background-color: #f2f2f2;
            }

            td {
                border: 1px solid black;
                width: 4em;
                height: 4em;
                box-sizing: border-box;
            }


            #su {
                transform: rotate(90deg);
            }

            #giu {
                transform: rotate(-90deg);
            }

            /*#sinistra {
                /* Nessuna rotazione necessaria per il bottom
            }*/

            #destra {
                transform: rotate(180deg);
            }

            /* Tabella centrale */
            .centro {
                margin: 0;
            }

            /* Assicuriamo che le tabelle laterali abbiano la stessa larghezza */
            #sinistra, #destra, #su, #giu{
                width: auto;
            }